<div class="form-wrapper">

  <form>

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" id="author">
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" id="isbn">
    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input class="form-control" id="pages">
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" id="format">
        <option>Paperback</option>
        <option>Hardcover</option>
        <option>Audiobook</option>
        <option>Leather Bound</option>
        <option>Spiral Bound</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" id="price">
    </div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country">
        <option>Country #1</option>
        <option>Country #2</option>
        <option>Country #3</option>
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" id="city">
        <option>City #1</option>
        <option>City #2</option>
        <option>City #3</option>
      </select>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" id="company">
        <option>Company #1</option>
        <option>Company #2</option>
        <option>Company #3</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>

  </form>

</div>
